@page "/"
@rendermode InteractiveServer

<PageTitle>Trainboard Dashboard</PageTitle>



<div class="card">

    <div class="card-header">
        <h1 class="text-center card-title">Config Train board Screen</h1>
    </div>

    <div class="card-body">

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" min="1" @bind="numRows" />
            <label for="floatingInput">Number of Departure rows</label>
            <p>@numRows</p>
        </div>

        <h5>Station CRS:</h5>
        <input @bind="crs" />
        <button @onclick="() => crs = string.Empty">Clear</button>
        <p>@crs</p>

        <h5>Destination CRS:</h5>
        <input @bind="filterCrs" />
        <button @onclick="() => filterCrs = string.Empty">Clear</button>
        <p>@filterCrs</p>

        <h5>TimeOffset:</h5>
        <input type="number" min="1" @bind="timeOffset" />
        <p>@timeOffset</p>

        <h5>Time Window</h5>
        <input type="number" min="1" @bind="timeWindow" />
        <p>@timeWindow</p>
    </div>
</div>

@code {

    private int numRows = 1;
    private string crs = "";
    private string filterCrs = "";
    private int timeOffset = 0;
    private int timeWindow = 0;

}